{% extends 'layout.njk' %}

{% set title = 'CoronaViz: A directory of COVID-19 data visualization' %}

{% block content %}
<div class="content">
{%- for item in ALL_ITEMS %}
	{% include 'partials/item.njk' %}
{%- endfor %}
</div>
{% endblock content %}
