<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link href="/assets/styles.css" rel="stylesheet" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#f8f5f2">
        <meta name="theme-color" content="#f8f5f2">
	</head>
	<body>
        <div class="logo">
            {% include 'partials/logo.njk' %}
            CoronaViz.org
        </div>
        <div class="social"></div>
        <nav class="nav">
        	<ol>
                <li><a href="/" {{ 'class=active' if not CURRENT_TAG }}>All</a></li>
        		{%- for tag in ALL_TAGS %}
        			<li><a href="/{{ tag | lower }}/" {{ 'class=active' if CURRENT_TAG == tag }}>{{ tag }}</a></li>
        		{%- endfor %}
        	</ol>
        </nav>
        <main class="main">
            <h1>{{ title }}</h1>
            {% block content %}{% endblock content %}
        </main>
		<footer class="footer">
            <span>Made by <a href="https://www.thomaspuppe.de">Thomas Puppe</a>.</span>
            <span>Available on <a href="https://github.com/thomaspuppe/coronaviz">GitHub</a>.</span> 
            <span>Icon by <a href="https://www.svgrepo.com/svg/71597/virus">svgrepo</a>.</span>
        </footer>
	</body>
</html>
