<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>{{ title }}</title>
		<link href="/assets/styles.css" rel="stylesheet" />
	</head>
	<body>
        <div class="logo">
            {% include 'partials/logo.njk' %}
            CoronaViz.org
        </div>
        <div class="social"></div>
        <nav class="nav">
        	<ol>
                <li><a href="/" {{ 'class=active' if not CURRENT_TAG }}>All</a></li>
        		{%- for tag in ALL_TAGS %}
        			<li><a href="/{{ tag | lower }}/" {{ 'class=active' if CURRENT_TAG == tag }}>{{ tag }}</a></li>
        		{%- endfor %}
        	</ol>
        </nav>
        <main class="main">
            <h1>{{ title }}</h1>
            {% block content %}{% endblock content %}
        </main>
		<footer class="footer">
            Made by <a href="https://www.thomaspuppe.de">Thomas Puppe</a>. Available on <a href="https://www.github.com/thomaspuppe">GitHub</a>.
            <!-- TODO: Icon attribution (https://www.svgrepo.com/svg/71597/virus) -->
        </footer>
	</body>
</html>
